.main-content .nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 258px;
    margin-top: var(--section-padding);
    background-color: #5957DB;
}

.main-content .nav .nav-list {
    margin: 20px 0 0 30px;
}

.main-content .nav .nav-list .nav-list-item:not(:first-child) {
    margin-top: 46px;
}

.main-content .nav .nav-list .nav-list-item a {
    position: relative;
    font-size: 14px;
    margin-left: 60px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
}


.main-content .nav .nav-list .nav-list-item a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    width: 22px;
    height: 18px;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-size: contain;
}

.main-content .nav .nav-list-item:nth-child(1) a::before {
    background-image: url("../img/icon/wsession.svg");
}

.main-content .nav .nav-list .nav-list-item:nth-child(2) a::before {
    background-image: url("../img/icon/trailer.svg");
}

.main-content .nav .nav-list .nav-list-item:nth-child(3) a::before {
    background-image: url("../img/icon/news.svg");
}

.main-content .nav .nav-list .nav-list-item:nth-child(4) a::before {
    background-image: url("../img/icon/about-us.svg");
}

.main-content .nav .nav-list .nav-list-item:nth-child(5) a::before {
    background-image: url("../img/icon/contact.svg");
}

.main-content .nav .user-menu {
    margin-top: auto;
    position: relative;
    margin-left: 112px;
    margin-bottom: var(--section-button);
}

.main-content .nav .user-menu .user-menu-item a {
    position: absolute;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
}

.main-content .nav .user-menu .user-menu-item a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -60px;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
    background-image: url("../img/icon/user-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
